@import url(./index.css);
@import url('https://fonts.googleapis.com/css2?family=Inter');


* {
    padding: 0;
    margin: 0;
    font-family: Inter;
    /* border: 1px solid black; */
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background: linear-gradient(#66d9ff, #FFFFFF);
}
.header{
    padding-top: 40px;
    /*height: 755px;*/

}
.nav{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.textTitle{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #25468A;

}
.navLinks{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.link a{
    text-decoration: none;
}
.btn{
    padding: 9px 23px;
    border-radius: 24px;
    background: #FFFFFF;
    border: none;
}

.containerWithNotebook{
    margin-top: 100px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.handbrakeDescriptionContainer{
max-width: 500px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-left: 10%;
    color: #25468A;


}
.handbrakeName{
    font-size: 92px;
}

.description1{
    font-size: 32px;

}

.description2{
    font-size: 20px;
    margin-top: 32px;

}

.btnDownload{
    background-color: #F7BA0E;
    font-size: 18px;
    border-radius: 24px;
    padding: 9px 23px;
max-width: fit-content;
    align-self: center;
    border: none;
    align-self: flex-start;
    margin-top: 16px;
}

.benefits{
    max-width: 1120px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px
}

.benefitBlock{
    background-color:  #1391CE;
    align-self: center;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #FFFFFF;
    font-size: 22px;
    border-radius: 24px;
    max-width: 350px;
}

.main{
    /* border: 1px solid black; */
margin-top: 100px;
}

.subheading{
    margin:  0 auto;
    display: flex;
    /* border: 1px solid black; */
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.subheadingText{
font-size: 36px;
color:#1391CE;

}


.rectangle7{
    height: 8px;
    width: 160px;
    background-color: #F7BA0E;
    margin-top: 10px;
}

.features{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.feature1{
display: flex;
    justify-content: space-around;
}

.featureText{

    max-width: 480px;
}


.featureText1{
    padding-top: 20px;
font-size: 16px;
color: #25468A;

}
.featureText2{
    padding-top: 20px;
font-size: 32px;
color: #1391CE;

}

.featureText3{
    padding-top: 20px;
    font-size: 18px;
    margin-top: 32px;

}

.feature2{
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.li{
    color: #1391CE;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 134.3%; /* 29.546px */
    letter-spacing: 0.44px;
    margin-top: 15px;   
}

.li ol{
    color: #4F4F4F;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 134.3%; /* 21.488px */
letter-spacing: 0.32px;
margin-top:10px;
}

.li ol::before{
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(./check-circle.png);
    background-size: contain;
    display: inline-block;
}

.feature3{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footer{}

